<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

</div>
